---
layout: base.njk
title: Home
---
<ul class="post-list">
  {% for post in collections.posts %}
  <li class="post-item">
    <span class="post-item-date">{{ post.date | date }}</span>
    <a class="post-item-title" href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
